:root{
    --background-color:rgb(255, 255, 255);
    --primary-color:rgb(242,120,147);
    --secoandary-color:rgb(32, 153, 234);
    --background-color2:whitesmoke;
    --text-color: #000000;
}
/* Dark mode variables */
[data-theme="dark"] {
    --background-color: #1e1e1e;
    --text-color: #ffffff;
    --primary-color: rgb(242,120,147);
    --secondary-color: rgb(32, 153, 234);
    --background-color2:#0000;
  }
*{
    margin: 0px;
    padding: 0px;
  
}
html{
    scroll-behavior: smooth;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:var(--text-color)
}
.hero-nav{
    height:80svh;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    gap:100px;
   
}
.hero-nav ul{
    display: flex;
    gap: 15px;
    list-style: none;
    margin-right: 30px;
}
.hero-nav ul a{
  text-decoration: none;
  color: var(--text-color);
}
nav{
    height: 10vh;
    background-color: var(--background-color2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-nav{
    color: var(--primary-color);
    font-size: 40px;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-left: 20px;
}
.text-box{
    display: flex;
    flex-direction: column;
    width:600px;
    gap:10px;
    animation: slideUpFromBottom 0.8s ease-out;
  opacity: 1;
}
.text{
    color: var(--secoandary-color);
    font-size: 30px;
   
}
h2{
    font-size: 30px;
}
h4{
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
  }
#theme-toggle{
    background: transparent;
    border: none;
    margin-right: 20px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:100px;
    padding: 10px;
    flex-wrap: wrap;
    height:auto;
    
    
}
.icons{
    display: flex;
    gap: 15px;
}
.buttons-box{
    display: flex;
    gap:10px;
}
#contact{
    padding: 10px;
    background-color: rgb(211,229,241);
    border-radius: 10px;
    border: 1px solid var(--secoandary-color);
}
#viewprojects{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
}
img{
    animation: slideInFromSide 0.8s ease-out;
  opacity: 1;
}
.about-section{
    height: 70svh;

    background-color: var(--background-color);
    display: flex;
    overflow: hidden;
    justify-content: center;
    
}


.about-content h2 {
    font-size: 2rem;
    color: var(--text-color);
}

.about-content p {
    font-size: 1rem;
    margin: 20px 0;
    width: 600px;
}



.social-media {
    margin: 20px 0;
}

.social-media a {
    font-size: 1.5rem;
    margin-right: 15px;
    color: var(--text-color);
    transition: color 0.3s;
}

.social-media a:hover {
    color: var(--primary-color);
}


.btn-about {
    font-size: .9rem;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 10px;
    border:1px solid var(--text-color);
    color: var(--secoandary-color);
    background-origin: border-box;
    background-clip: content-box, border-box;
    transition: background-color 0.3s, border-radius 0.3s ease-in-out;
}

.btn-about:hover {
    
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    border-radius: 20px;

}
.text-box h2{
    color: var(--primary-color);
}

.skills h3 {
    font-size: 2rem;
    
    color:var(--secoandary-color);
}

.skills ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.skills ul li {
    background-color: rgba(62, 62, 70, 0.418);
    padding: 10px;
    margin: 0.5rem 0;
    border-radius: 5px;
    font-size: .9rem;
}


.btn2{

    display: inline-block;
    background: var(--background-color2);
    font-size: .9rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid var(--text-color);
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
    color:var(--primary-color);
}

.btn2:hover {
    border-radius:20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-content {
        text-align: center;
        margin-top: 2rem;
    }
}
.about-section .actions {
    margin-top: 20px;
}

.about-section .actions .btn {
    margin-right: 15px;
    text-decoration: none;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}



.social-media {
    margin-top: 20px;
    margin-left: 20px;
}

.social-media a {
    font-size: 24px;
    color: #6c63ff;
    margin-right: 15px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: #574bff;
}
.projects {
  width: 99vw;
  height: 80svh;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-container {
  width: 80vw;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

/* Add this media query for mobile devices */
@media (max-width: 768px) {
  .projects{
    width:97vw;
    height:80svh;
  }
  .project-container span{
      width: 90vw;
      height:60vh;
      overflow-x: scroll;
      flex-direction: row;
      gap: 16px;
      padding: 0 16px;

      /* Hide scrollbar in Webkit-based browsers (e.g., Chrome, Safari) */
      -webkit-overflow-scrolling: touch; /* Smooth scrolling */
      scrollbar-width: none;
  }
  .project-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

  /* Hide scrollbar in Webkit browsers */
  .project-container::-webkit-scrollbar {
      display: none;
  }

  /* Hide scrollbar in Firefox */
  .project-container {
      scrollbar-width: none;
  }

  .project-card {
      min-width: 50%;
      flex-shrink: 0;
  }
}

.project-card {
  width: 300px;
  background-color: var(--background-color);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.project-container h2 {
  color: var(--primary-color);
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-card img {
  object-fit: cover;
}

.project-content {
  padding: 16px;
}

.project-title {
  font-size: 20px;
  font-weight: bold;
  color: var(--secondary-color);
  margin: 0;
}

.project-description {
  font-size: 14px;
  color: var(--text-color);
  margin: 8px 0;
}

.project-icons {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  margin-top: 12px;
}

.project-icons a {
  color: #0073e6;
  font-size: 24px;
  text-decoration: none;
}

.project-icons a:hover {
  color: #005bb5;
}
.project-img{
  height:220px;
  width:400px;
  
}
#myexperiance{
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
}
.text-ex{
    text-align: center;
    color: var(--primary-color);
    font-weight: bold;
}
.experience-container {
    
    width: 80%;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 8px;

  }

 

  .timeline {
    position: relative;
    padding-left: 20px;
  }

  .timeline::before {
    content: "";
    position: absolute;
    left: 20px;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: var(--primary-color);
  }

  .experience-item {
    position: relative;
    padding: 20px 0;
    margin-left: 40px;
  }

  .experience-item::before {
    content: "";
    position: absolute;
    left: -30px;
    top: 30px;
    width: 8px;
    height: 8px;
    background-color: var(--primary-color);
    border-radius: 50%;
    box-shadow: 0 0 0 4px  var(--primary-color);
  }

  .job-title {
    font-size: 20px;
    font-weight: bold;
    color: var(--secoandary-color);
  }

  .company {
    font-size: 18px;
    color: var(--text-color);
  }

  .duration {
    font-size: 14px;
    color: var(--text-color);
    margin-bottom: 8px;
  }

  .description {
    font-size: 16px;
    color: var(--text-color);
    line-height: 1.6;
  }
  .footer {
    background-color: #282323e7;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
  }

  .footer-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .footer-section {
    flex: 1 1 200px;
    margin: 20px;
  }

  .footer-section h4 {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }

  .footer-section ul li {
    margin-bottom: 10px;
  }

  .footer-section ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }

  .footer-section ul li a:hover {
    color: #ffd700;
  }

  .footer-section p {
    line-height: 1.8;
  }

  .social-icons a {
    color: white;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
  }

  .social-icons a:hover {
    color: #ffd700;
  }

  .footer-bottom {
    padding-top: 20px;
    border-top: 1px solid #666;
    font-size: 14px;
  }
@keyframes slideUpFromBottom {
    0% {
      opacity: 0;
      transform: translateY(20%); /* Start from below */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* End at the original position */
    }
  }
@keyframes slideInFromSide {
    0% {
      opacity: 0;
      transform: translateY(-20%); /* Start from the left side */
    }
    100% {
      opacity: 1;
      transform: translateX(0); /* End at the original position */
    }
  }
  .about-img{
    display: block;
  }
  @media only screen and (max-width:600px){
    .hero-nav ul{
      font-size: 10px;
      font-weight: bolder;
      gap:10px;
      margin-left: 0px;
    }
    nav{
      width:100vw;
    }
    .box{
      height: 90svh;
     padding: 0%;
      gap:20px;
    }
    .about-section{
      height:90svh;
    }
    .hero-nav{
      gap:50px;
      height:70svh;
    }
    .about-img{
      display: none;
    }
    .about-container{
      height: 70svh;
    }
    .about{
      height:100vw;
    }
    #myexperiance{
      padding: 2px;
    }
    .timeline {
      padding-left: 7px;
      width:100%;
    }
    .experience-container{
      width:100vw;
    }
    .text-box{
      width: fit-content;
    }
    .skills{
      margin-top: 10px;
    }
   .box img{
      height:350px;
      width:350px;
    }
    .text-nav{
      font-size: 30px;
      line-height: 20px;
      margin-left: 0px;
    }
  }
  @media only screen and (max-width:1254px){
    .about-img{
      display: none;
    }
    .box{
      width:100vw;
    }
    .hero-nav .box img{
      display: none;
    }
  }